body
{
    width: 40%;
    height: 85% ;
}
.best
{           
    border:  solid 6px black;
    
    height: 95% ;
    padding: 25px;
    background-image: url(2.png) ;
    background-size: cover;
    margin: 60px auto;
    position:relative;
    left:400px;
    
   
}
.container
{
  text-align: left 80px;
  text-align: top  10% ;
}
.items
{
         
        
    
    width: 70%;
    background-color: silver;
    border-left: solid 6px black;
    padding: 25px;
    margin: 60px auto;
    position:relative;
    left:-59;
    top:-40;
            
        
}
.author
{   
    
    
    width: 80%;
    height:20%;
    background-color: silver;
    border-radius: 5%;
    padding: 25px;
    margin: 60px ;
    display: flex;
    gap:12px;
    position:relative;
    left:-50;
    top:-80;
    
    

    
}


.profile-img
 {
    width: 60px;
    height: 60px;
   
}
.footer
{
    width: 80%;
    height: 2%;
    background-color: yellow;
    padding: 25px;
    margin: 60px auto;
    position:relative;
    left: -10px;
    bottom: 86px;
}